In [1]:
import pandas as pd

In [2]:
df_gene_49 = pd.read_csv("data/49/filtered_matrix_viral_genes_info.txt",sep="\t")

In [3]:
df_gene_49.head()

,gene,UMI_counts,median_num_human_genes_expressed,accession,reference_name
0,gene-D1P11_gp8,12,5033.5,NC_038283.1,"Ekpoma virus 2 isolate EKV-2, partial genome"
1,E1.gene-HPV-108_gp2,4,4486.0,NC_012213.1,"Human papillomavirus type 108, complete genome"
2,gene-CAB93_sLgp1,3,4638.0,NC_034387.1,Nairobi sheep disease virus isolate Jilin segm...
3,UL8.gene-HHV1gp00p67,2,3390.0,NC_001806.2,"Human herpesvirus 1 strain 17, complete genome"
4,UL29.gene-HHV5wtgp034,2,5741.5,NC_006273.2,"Human herpesvirus 5 strain Merlin, complete ge..."

In [4]:
df_barcode_49 = pd.read_csv("data/49/filtered_matrix_viral_barcodes_info.txt",sep="\t")

In [5]:
df_barcode_49.head()

,Unnamed: 0,NC_038283.1,NC_006273.2,NC_007653.1,NC_012213.1,NC_045512.2,NC_002642.1,NC_034387.1,NC_000898.1,NC_001731.1,...,NC_030701.1,NC_034223.1,NC_034495.1,NC_035469.1,NC_038658.1,NC_040805.1,NC_043036.1,NC_043618.1,NC_044932.1,NC_045762.1
0,TACGGATCACGAAACG,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,AAAGTAGAGCTGCGAA,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,AACCGCGAGTGTCCAT,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,AACCGCGTCTTGTCAT,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,AACTGGTCATGGGACA,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
df_gene_49.groupby(['accession'])['UMI_counts'].agg('sum').reset_index().sort_values(by=['UMI_counts'],ascending=False).head()

      accession  UMI_counts
36  NC_038283.1          12
17  NC_006273.2           5
23  NC_012213.1           4
43  NC_045512.2           4
20  NC_007653.1           4

In [7]:
df_gene_50 = pd.read_csv("data/50/filtered_matrix_viral_genes_info.txt",sep="\t")

In [8]:
df_gene_50.head()

,gene,UMI_counts,median_num_human_genes_expressed,accession,reference_name
0,ORF1ab.gene-GU280_gp01,235,1899.5,NC_045512.2,Severe acute respiratory syndrome coronavirus ...
1,N.gene-GU280_gp10,158,1916.0,NC_045512.2,Severe acute respiratory syndrome coronavirus ...
2,ORF10.gene-GU280_gp11,62,1174.0,NC_045512.2,Severe acute respiratory syndrome coronavirus ...
3,ORF7a.gene-GU280_gp07,15,1293.0,NC_045512.2,Severe acute respiratory syndrome coronavirus ...
4,ORF8.gene-GU280_gp09,13,1068.0,NC_045512.2,Severe acute respiratory syndrome coronavirus ...

In [9]:
df_gene_50.groupby(['accession'])['UMI_counts'].agg('sum').reset_index().sort_values(by=['UMI_counts'],ascending=False).head()

      accession  UMI_counts
51  NC_045512.2         518
45  NC_038283.1           8
34  NC_019023.1           4
17  NC_006273.2           4
41  NC_034495.1           4