In [2]:
import pandas as pd

In [3]:
df_gene_49 = pd.read_csv("data/49/filtered_matrix_viral_genes_info.txt",sep="\t")

In [4]:
df_gene_49.head()

,gene,UMI_counts,median_num_human_genes_expressed,accession,reference_name
0,gene-D1P11_gp8,12,5033.5,NC_038283.1,"Ekpoma virus 2 isolate EKV-2, partial genome"
1,E1.gene-HPV-108_gp2,4,4486.0,NC_012213.1,"Human papillomavirus type 108, complete genome"
2,gene-CAB93_sLgp1,3,4638.0,NC_034387.1,Nairobi sheep disease virus isolate Jilin segm...
3,UL8.gene-HHV1gp00p67,2,3390.0,NC_001806.2,"Human herpesvirus 1 strain 17, complete genome"
4,UL29.gene-HHV5wtgp034,2,5741.5,NC_006273.2,"Human herpesvirus 5 strain Merlin, complete ge..."

In [5]:
df_barcode_49 = pd.read_csv("data/49/filtered_matrix_viral_barcodes_info.txt",sep="\t")

In [6]:
sum(df_barcode_49.loc[:,"NC_045512.2"]>0)

3

In [7]:
df_gene_49.groupby(['accession'])['UMI_counts'].agg('sum').reset_index().sort_values(by=['UMI_counts'],ascending=False).head()

      accession  UMI_counts
36  NC_038283.1          12
17  NC_006273.2           5
23  NC_012213.1           4
43  NC_045512.2           4
20  NC_007653.1           4

In [16]:
len(df_gene_49.groupby(['accession'])['UMI_counts'].agg('sum').reset_index().sort_values(by=['UMI_counts'],ascending=False))

45

In [8]:
df_gene_50 = pd.read_csv("data/50/filtered_matrix_viral_genes_info.txt",sep="\t")

In [9]:
df_gene_50.head()

,gene,UMI_counts,median_num_human_genes_expressed,accession,reference_name
0,ORF1ab.gene-GU280_gp01,235,1899.5,NC_045512.2,Severe acute respiratory syndrome coronavirus ...
1,N.gene-GU280_gp10,158,1916.0,NC_045512.2,Severe acute respiratory syndrome coronavirus ...
2,ORF10.gene-GU280_gp11,62,1174.0,NC_045512.2,Severe acute respiratory syndrome coronavirus ...
3,ORF7a.gene-GU280_gp07,15,1293.0,NC_045512.2,Severe acute respiratory syndrome coronavirus ...
4,ORF8.gene-GU280_gp09,13,1068.0,NC_045512.2,Severe acute respiratory syndrome coronavirus ...

In [10]:
df_gene_50.groupby(['accession'])['UMI_counts'].agg('sum').reset_index().sort_values(by=['UMI_counts'],ascending=False).head()

      accession  UMI_counts
51  NC_045512.2         518
45  NC_038283.1           8
34  NC_019023.1           4
17  NC_006273.2           4
41  NC_034495.1           4

In [17]:
len(df_gene_50.groupby(['accession'])['UMI_counts'].agg('sum').reset_index().sort_values(by=['UMI_counts'],ascending=False))

52

In [11]:
df_gene_51 = pd.read_csv("data/51/filtered_matrix_viral_genes_info.txt",sep="\t")
df_gene_51.groupby(['accession'])['UMI_counts'].agg('sum').reset_index().sort_values(by=['UMI_counts'],ascending=False).head()

      accession  UMI_counts
59  NC_045512.2         597
54  NC_038283.1           6
28  NC_006273.2           5
15  NC_002642.1           4
25  NC_005221.1           3

In [18]:
len(df_gene_51.groupby(['accession'])['UMI_counts'].agg('sum').reset_index().sort_values(by=['UMI_counts'],ascending=False))

60

In [20]:
for id in range(49,52):
    df_gene = pd.read_csv("data//scvh_out_10t_08_03_2021_11_21_32_SRR115379"+str(id)+"//filtered_matrix_viral_genes_info.txt",sep="\t")
    print(df_gene.groupby(['accession'])['UMI_counts'].agg('sum').reset_index().sort_values(by=['UMI_counts'],ascending=False).head())
    print(len(df_gene.groupby(['accession'])['UMI_counts'].agg('sum').reset_index().sort_values(by=['UMI_counts'],ascending=False)))

      accession  UMI_counts
36  NC_038283.1          12
17  NC_006273.2           5
23  NC_012213.1           4
43  NC_045512.2           4
20  NC_007653.1           4
45
      accession  UMI_counts
51  NC_045512.2         528
45  NC_038283.1           8
34  NC_019023.1           4
17  NC_006273.2           4
41  NC_034495.1           4
52
      accession  UMI_counts
58  NC_045512.2         565
53  NC_038283.1           5
28  NC_006273.2           5
15  NC_002642.1           4
25  NC_005221.1           3
59

In [21]:
for id in range(49,52):
    df_gene = pd.read_csv("data//run_SRR115379"+str(id)+"//filtered_matrix_viral_genes_info.txt",sep="\t")
    print(df_gene.groupby(['accession'])['UMI_counts'].agg('sum').reset_index().sort_values(by=['UMI_counts'],ascending=False).head())
    print(len(df_gene.groupby(['accession'])['UMI_counts'].agg('sum').reset_index().sort_values(by=['UMI_counts'],ascending=False)))

     accession  UMI_counts
0  NC_045512.2           2
1
     accession  UMI_counts
0  NC_045512.2         439
1
     accession  UMI_counts
1  NC_045512.2         445
0  NC_001461.1           1
2

In [22]:
for id in range(49,52):
    df_gene = pd.read_csv("data//out_SRR115379"+str(id)+"//filtered_matrix_viral_genes_info.txt",sep="\t")
    print(df_gene.groupby(['accession'])['UMI_counts'].agg('sum').reset_index().sort_values(by=['UMI_counts'],ascending=False).head())
    print(len(df_gene.groupby(['accession'])['UMI_counts'].agg('sum').reset_index().sort_values(by=['UMI_counts'],ascending=False)))

     accession  UMI_counts
0  NC_045512.2           3
1
     accession  UMI_counts
0  NC_045512.2         970
1
     accession  UMI_counts
1  NC_045512.2         464
0  NC_001461.1           1
2